@import url("https://use.typekit.net/tjr8jnh.css");
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

*:focus {outline:none !important}

body {
    // height: 100vh;
    background: #FFFFFF;
}

h2 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 25px;
    color: #080808;
    text-align: left;

    span {
        color: #080808;
        font-weight: 400;
    }
}

h1 {
    font-family: Raleway;
    font-size: 54px;
}

h3 {
    font-family: Rig-solid-bold-fill;
    font-size: 180px;
    text-align: center;
    margin: 0;
    color: #080808;

    .positive-observation {
        color: #5bcf84;

    }

    .negative-observation {
        color: #cf5b5b;
    }
}

p {
    font-family: Raleway, sans-serif;
    margin-top: -22px;
    font-size: 20px;
    text-align: center;
    color: #080808;

    span {
        font-weight: 700;
        font-size: 20px;
    }

    a {
        color: #0A7EAF;
        text-decoration: none;
    }
}

a {
    font-family: Raleway;
    text-decoration: none;
    color: #B0B0B0;
    transition: 0.3s;

    &:hover {
        color: #0A7EAF;
        text-decoration: underline;
    }
}

p {
    color: #080808 !important;
}

article {
    margin: 0 auto;
}

#app {
    padding-bottom: 64px;
}

#nav {
    width: 70%;
    height: 104px;
    padding-top: 33px;
    margin: 0 auto;

    .bp-dropdown {
        float: right;
    }
    .bp-dropdown__btn--active {
        background-color: #FFFFFF;
    }
    .bp-dropdown__btn {
        border: none;
        font-family: Montserrat;
        font-size: 12px;
        margin: 0;
        padding: 0 12px;
        float: right;
        color: #B0B0B0;

        i {
            color: #cf5b5b;
            padding-left: 8px;
            padding-right: 8px;
        }

    }

    .bp-dropdown__body {
        padding: 16px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            text-align: left;
            padding: 4px;
        }
    }

    a {
        margin: 0;
        font-size: 12px;
        font-family: Montserrat;
    }
   
    p {
        margin: 0;
        font-size: 12px;
        font-family: Montserrat;
    }

    .navItemLeft {
        float: left;
    }

    .navItemRight {
        float: right;

    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-content: center;
    align-items: center;

    .wrapper {
        display: flex;
        flex-direction: column;
        // min-height: 384px;

        
    }

    .toggle {
        color: #5C258D;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 300;
        background: none;
        border: solid #5C258D;
        border-width: thin;
        padding: 18px 34px;
        margin-top: 52px;
        cursor: pointer;
        transition: .4s;
        margin: 0 auto;

        &:hover {
            background: #5bcf84;
            color: #FFFFFF;
            font-weight: bold;
            border: solid #5bcf84;
            border-width: thin;
        }

    }

    .toggle:active {
        border: solid #5C258D;
        border-width: thin;
    }

    .toggle:focus {
        border: solid #5C258D;
        border-width: thin;
    }

    .shares {
        margin-bottom: 52px;
        display: inline-flex;
        flex-direction: row;
        align-content: center;
        align-items: center;

        a {
            color: #080808;
            font-size: 18px;
        }

        .twitter {
            margin: 0 12px;
            opacity: .4;
            transition: .3s;
            cursor: pointer;

            i {
                color: #080808;
                font-size: 18px;
            }

            &:hover {
                opacity: .6;
            }
        }

        .linkedIn {
            opacity: .4;
            transition: 0.3s;
            cursor: pointer;

            i {
                color: #080808;
                font-size: 18px;
            }

            &:hover {
                opacity: .6;
            }
        }

        .facebook {
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            align-items: center;
            opacity: .4;
            transition: .3s;
            cursor: pointer;
            font-size: 18px;

            &:hover {
                opacity: .6;
            }
    
            .facebookShare {
                border: solid #080808;
                border-width: thin;
                font-family: Raleway;
                color: #080808;
                font-size: 8px;
                padding: 2px 8px;
            }
    
            i {
                color: #080808;
                font-size: 18px;
            }
    
        }
    }

    

    .vertLine {
        border: dotted #000000;
        border-width: thin;
        height: 360px;
        opacity: 0.2;
        margin: 32px 0;
    }
}

.comparison {
    font-size: 16px;
    margin-top: -20px;
    font-style: italic;
    margin-bottom: 32px;

    .redArrow {
        color: #cf5b5b;
        font-size: 28px;
    }

    .greenArrow {
        color: #5bcf84;
        font-size: 28px;
    }
}

.smallHeader {
    font-size: 16px;
    text-align: center;
    color: #080808;
    line-height: 21px;
    margin: 77px 0 70px 0;
    font-family: Montserrat;
    font-weight: 400;
}

.block {
    width: 60%; 
    display: block;
    margin: 0 auto;

    .pInfo {
            p {
                margin: 0 auto;
                font-size: 37.5px;
                text-align: left;
                padding-bottom: 71px;
                line-height: 50px;
            }
    
            img {
                // display: block;
                // margin: 0 auto;
                width: 100%;
            }
            
        }

    p {
        font-family: Raleway;
        font-size: 25px;
        text-align: left;
        padding: 22px 0;
        line-height: 40px;
    }

    .quote {
        display: flex;
        flex-direction: row;

        .quoteBlock {
            height: 110px;
            width: 10px;
            background-color: #e8e8e8;
        }

        p {
            line-height: 38px;
            margin-left: 34px;

            span {
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}



.newsList {
    width: 60%;
    display: block;
    margin: 0 auto;

    ul {
        list-style-type: none;
        padding-left: 0;
        margin: 12px 0;
    }

    li {
        display: inline;
        font-family: Raleway;
        font-size: 25px;

        i {
            color: #080808;
            font-size: 18px;
        }

        a {
            margin-left: 16px;
            color: #0A7EAF;
            font-size: 25px;

            i {
                color: #0A7EAF;
            }
             &:hover {
                 text-decoration: underline;
                 color: adjust-hue($color: #0A7EAF, $degrees: 25) 
             }
        }
    }
}

.footer {
    width: 60%;
    border-top: dotted #b0b0b0 1px;
    margin: 0 auto;
    display: block;
    margin-top: 64px;
    padding: 16px 0;

    p {
        margin: 0;
        text-align: left;
    }
}

.playerWrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border: solid #00000025;
    padding: 22px;
    margin-top: 32px;
    margin: 0 auto;
    margin-bottom: 72px;
    width: 350px;


    .podcastInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 22px;

        h4 { 
            text-align: left;
            margin: 0 0 12px 0;
            color: #B0B0B0;
        }

        a {
            margin: 0;
            font-size: 20px;
            color: #080808;
            transition: .3s;

            &:hover {
                color: #0A7EAF;
            }
        }
    }

    .podcastImg {
        width: 93px;
        height: 93px;
        border-radius: 100%;
        align-self: center;
        margin-left: -68px
    }
}

