@import url("https://use.typekit.net/tjr8jnh.css");
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

*:focus {outline:none !important}

body {
    // height: 100vh;
    background: #FFFFFF;
}

h1 {
    font-family: Raleway;
    font-size: 54px;
}

h2 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 25px;
    color: #080808;
    text-align: left;

    span {
        color: #080808;
        font-weight: 400;
    }
}

h3 {
    font-family: Rig-solid-bold-fill;
    text-align: center;
    margin: 0;
    color: #080808;

    .positive-observation {
        color: #5bcf84;

    }

    .negative-observation {
        color: #cf5b5b;
    }
}

a {
    font-family: Raleway;
    text-decoration: none;
    color: #B0B0B0;
    transition: 0.3s;

    &:hover {
        color: #0A7EAF;
        text-decoration: underline;
    }
}

p {
    font-family: Raleway, sans-serif;
    margin-top: -22px;
    font-size: 20px;
    text-align: center;
    color: #080808 !important;

    span {
        font-weight: 700;
        font-size: 20px;
    }

    a {
        color: #0A7EAF;
        text-decoration: none;
    }
}

article {
    margin: 0 auto;
}

#app {
    padding-bottom: 64px;
}

.mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-content: center;
    align-items: center;

    .wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 342px;

        h3 {
            font-size: 260px;
        }

        p {
            font-size: 36px;

            span {
                font-size: 36px;
            }
        }
    }

    .shares {
        margin-bottom: 52px;
        display: inline-flex;
        flex-direction: row;
        align-content: center;
        align-items: center;

        .twitter {
            margin: 0 32px;
            opacity: .4;
            transition: .3s;

            i {
                color: #080808;
                font-size: 42px;
            }

            &:hover {
                opacity: .6;
            }
        }

        .linkedIn {
            opacity: .4;
            transition: 0.3s;

            i {
                color: #080808;
                font-size: 42px;
            }

            &:hover {
                opacity: .6;
            }
        }

        .facebook {
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            align-items: center;
            opacity: .4;
            transition: .3s;

            &:hover {
                opacity: .6;
            }
    
            .facebookShare {
                border: solid #080808;
                border-width: thin;
                font-family: Raleway;
                color: #080808;
                font-size: 26px;
                padding: 4px 12px;
            }
    
            i {
                color: #080808;
                font-size: 42px;
            }
    
        }
    }
    .toggle {
        color: #5C258D;
        font-size: 30px;
        font-family: Raleway;
        font-weight: 300;
        background: none;
        border: solid #5C258D;
        border-width: thin;
        padding: 28px 44px;
        cursor: pointer;
        transition: .4s;
        margin: 0 auto;
    }

    .toggle:active {
        border: solid #5C258D;
        border-width: thin;
    }

    .toggle:focus {
        border: solid #5C258D;
        border-width: thin;
    }
    

    .vertLine {
        border: dotted #000000;
        border-width: thin;
        height: 720px;
        opacity: 0.2;
        margin: 32px 0;
    }
}



.comparison {
    font-size: 16px;
    margin-top: -20px;
    font-style: italic;
    margin-bottom: 32px;

    .redArrow {
        color: #cf5b5b;
        font-size: 28px;
    }

    .greenArrow {
        color: #5bcf84;
        font-size: 28px;
    }
}

.mobile-what {
    

    #yield-spread {

        width: 80%; 
        display: block;
        margin: 0 auto;
    
        
    }
    
}

.mobile-block {
    width: 80%; 
    display: block;
    margin: 0 auto;

    h2 {
        font-size: 42px;
    }

    p {
        font-family: Raleway;
        font-size: 42px;
        text-align: left;
        padding: 22px 0;
        line-height: 66px;
    }

    .smallHeader {
        font-size: 20px;
        text-align: center;
        color: #080808;
        line-height: 21px;
        margin: 77px 0 70px 0;
        font-family: Montserrat;
        font-weight: 400;
    }

    .pInfo {
        p {
            margin: 0 auto;
            font-size: 37.5px;
            text-align: left;
            padding-bottom: 71px;
            line-height: 66px;
        }
        
    }

    .quote {
        display: flex;
        flex-direction: row;

        .quoteBlock {
            height: 250px;
            width: 10px;
            background-color: #e8e8e8;
        }

        p {
            line-height: 50px;
            margin-left: 34px;

            span {
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}






.mobile-newsList {
    width: 80%;
    display: block;
    margin: 0 auto;

    ul {
        list-style-type: none;
        padding-left: 0;
        margin: 12px 0;
    }

    li {
        display: inline;
        font-family: Raleway;
        font-size: 18px;

        i {
            color: #080808;
            font-size: 18px;
        }

        a {
            margin-left: 16px;
            color: #0A7EAF;
            font-size: 18px;

            i {
                color: #0A7EAF;
            }
             &:hover {
                 text-decoration: underline;
                 color: adjust-hue($color: #0A7EAF, $degrees: 25) 
             }
        }
    }
}

.mobile-footer {
    width: 80%;
    border-top: dotted #b0b0b0;
    margin: 0 auto;
    display: block;
    margin-top: 64px;
    padding: 16px 0;

    p {
        margin: 0;
        text-align: left;
    }
}